In [2]:
#기본 라이브러리 설치
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_format = 'retina'  #plot내 글씨를 선명하게 해주는 옵션

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import RobustScaler

## 데이터 불러오기
- 1차 전처리가 완료된 2주차 과제 파일 불러오기

In [24]:
data = pd.read_csv("modified_train.csv")
data

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),...,Seasons,Holiday,Functioning Day,month,functioning_day_numeric,Holiday_numeric,Visibility Bin,Visibility Sub Bin,Combined Visibility Bin,Wind Speed Bin
0,2017-12-01,254,0,-1.509215,37,2.2,2000,-17.6,-0.662512,0.0,...,Winter,No Holiday,Yes,12,1,0,1989 - 2000,1990 - 2000,1990 - 2000,"(1.8, 2.2]"
1,2017-12-01,204,1,-1.533524,38,0.8,2000,-17.6,-0.662512,0.0,...,Winter,No Holiday,Yes,12,1,0,1989 - 2000,1990 - 2000,1990 - 2000,"(0.6, 0.9]"
2,2017-12-01,173,2,-1.574039,39,1.0,2000,-17.7,-0.662512,0.0,...,Winter,No Holiday,Yes,12,1,0,1989 - 2000,1990 - 2000,1990 - 2000,"(0.9, 1.1]"
3,2017-12-01,107,3,-1.590245,40,0.9,2000,-17.6,-0.662512,0.0,...,Winter,No Holiday,Yes,12,1,0,1989 - 2000,1990 - 2000,1990 - 2000,"(0.6, 0.9]"
4,2017-12-01,78,4,-1.574039,36,1.4,2000,-18.6,-0.662512,0.0,...,Winter,No Holiday,Yes,12,1,0,1989 - 2000,1990 - 2000,1990 - 2000,"(1.3, 1.6]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8035,2018-10-31,1507,19,-0.407208,53,1.6,2000,-0.6,-0.662512,0.0,...,Autumn,No Holiday,Yes,10,1,0,1989 - 2000,1990 - 2000,1990 - 2000,"(1.3, 1.6]"
8036,2018-10-31,1176,20,-0.472032,59,0.7,2000,0.0,-0.662512,0.0,...,Autumn,No Holiday,Yes,10,1,0,1989 - 2000,1990 - 2000,1990 - 2000,"(0.6, 0.9]"
8037,2018-10-31,1069,21,-0.472032,59,3.0,1929,0.0,-0.662512,0.0,...,Autumn,No Holiday,Yes,10,1,0,1908 - 1989,NaN,1908 - 1989,"(2.6, 3.2]"
8038,2018-10-31,1088,22,-0.536856,58,2.2,1936,-0.9,-0.662512,0.0,...,Autumn,No Holiday,Yes,10,1,0,1908 - 1989,NaN,1908 - 1989,"(1.8, 2.2]"
8039,2018-10-31,798,23,-0.569268,60,1.8,1930,-0.8,-0.662512,0.0,...,Autumn,No Holiday,Yes,10,1,0,1908 - 1989,NaN,1908 - 1989,"(1.6, 1.8]"

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8040 entries, 0 to 8039
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8040 non-null   object
 1   Rented Bike Count          8040 non-null   int64
 2   Hour                       8040 non-null   int64
 3   Temperature(°C)            8040 non-null   float64
 4   Humidity(%)                8040 non-null   int64
 5   Wind speed (m/s)           8040 non-null   float64
 6   Visibility (10m)           8040 non-null   int64
 7   Dew point temperature(°C)  8040 non-null   float64
 8   Solar Radiation (MJ/m2)    8040 non-null   float64
 9   Rainfall(mm)               8040 non-null   float64
 10  Snowfall (cm)              8040 non-null   float64
 11  Seasons                    8040 non-null   object
 12  Holiday                    8040 non-null   object
 13  Functioning Day            8040 non-null   object
 14  month                      8040 non-null   int64
 15  functioning_day_numeric    8040 non-null   int64
 16  Holiday_numeric            8040 non-null   int64
 17  Visibility Bin             8040 non-null   object
 18  Visibility Sub Bin         2394 non-null   object
 19  Combined Visibility Bin    8040 non-null   object
 20  Wind Speed Bin             8040 non-null   object
dtypes: float64(6), int64(7), object(8)
memory usage: 1.3+ MB

- 명목형 변수 : Seasons, Holiday, Functioning Day
- 순서형 변수 : 없음


- 명목형 변수인 Holiday, Functioning Day는 1차 전처리때 수치형으로 변환한 _numeric 변수가 있는 상태
    - Holiday-{'Holiday' : 1, 'No Holiday' : 0}
    - Functioning Day-{'Yes': 1, 'No': 0}

#### OneHotEncoder이용하여 명목형 변수 수치화

In [26]:
data_v1 = data.copy()

In [27]:

ohe = OneHotEncoder(sparse_output=False) #sparse_output=False: 희소행렬로 반환 X

result_ohe = ohe.fit_transform(data_v1[["Seasons"]])
result_ohe

array([[0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       ...,
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.]])

In [28]:
#각 변수들의 카테고리가 학습된 것을 확인
ohe.categories_

[array(['Autumn', 'Spring', 'Summer', 'Winter'], dtype=object)]

In [29]:
#result_ohe는 numpy.array이므로 데이터프레임으로 변환
df_ohe = pd.DataFrame(result_ohe, columns=ohe.get_feature_names_out(["Seasons"]))
df_ohe

      Seasons_Autumn  Seasons_Spring  Seasons_Summer  Seasons_Winter
0                0.0             0.0             0.0             1.0
1                0.0             0.0             0.0             1.0
2                0.0             0.0             0.0             1.0
3                0.0             0.0             0.0             1.0
4                0.0             0.0             0.0             1.0
...              ...             ...             ...             ...
8035             1.0             0.0             0.0             0.0
8036             1.0             0.0             0.0             0.0
8037             1.0             0.0             0.0             0.0
8038             1.0             0.0             0.0             0.0
8039             1.0             0.0             0.0             0.0

[8040 rows x 4 columns]

- 하나의 칼럼을 제거하여 rank를 하나 줄이는 것도 가능하다.
- 1차 전처리시 11월의 데이터가 하나도 없었으므로 Autumn 칼럼을 제거한다.

In [30]:
df_ohe=df_ohe.drop(columns=["Seasons_Autumn"])
df_ohe

      Seasons_Spring  Seasons_Summer  Seasons_Winter
0                0.0             0.0             1.0
1                0.0             0.0             1.0
2                0.0             0.0             1.0
3                0.0             0.0             1.0
4                0.0             0.0             1.0
...              ...             ...             ...
8035             0.0             0.0             0.0
8036             0.0             0.0             0.0
8037             0.0             0.0             0.0
8038             0.0             0.0             0.0
8039             0.0             0.0             0.0

[8040 rows x 3 columns]

In [31]:
data_v1 = pd.concat([data_v1.reset_index(drop=True), df_ohe.reset_index(drop=True)], axis=1)

## 변수 선택

In [32]:
data_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8040 entries, 0 to 8039
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8040 non-null   object
 1   Rented Bike Count          8040 non-null   int64
 2   Hour                       8040 non-null   int64
 3   Temperature(°C)            8040 non-null   float64
 4   Humidity(%)                8040 non-null   int64
 5   Wind speed (m/s)           8040 non-null   float64
 6   Visibility (10m)           8040 non-null   int64
 7   Dew point temperature(°C)  8040 non-null   float64
 8   Solar Radiation (MJ/m2)    8040 non-null   float64
 9   Rainfall(mm)               8040 non-null   float64
 10  Snowfall (cm)              8040 non-null   float64
 11  Seasons                    8040 non-null   object
 12  Holiday                    8040 non-null   object
 13  Functioning Day            8040 non-null   object
 14  month                      8040 non-null   int64
 15  functioning_day_numeric    8040 non-null   int64
 16  Holiday_numeric            8040 non-null   int64
 17  Visibility Bin             8040 non-null   object
 18  Visibility Sub Bin         2394 non-null   object
 19  Combined Visibility Bin    8040 non-null   object
 20  Wind Speed Bin             8040 non-null   object
 21  Seasons_Spring             8040 non-null   float64
 22  Seasons_Summer             8040 non-null   float64
 23  Seasons_Winter             8040 non-null   float64
dtypes: float64(9), int64(7), object(8)
memory usage: 1.5+ MB

In [37]:
#필요없는 칼럼 제거
columns_to_drop = ['Date','Seasons','Holiday', 'Functioning Day', 'Visibility Bin','Visibility Sub Bin','Combined Visibility Bin']  
data_final = data_v1.drop(columns=columns_to_drop)
data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8040 entries, 0 to 8039
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Rented Bike Count          8040 non-null   int64
 1   Hour                       8040 non-null   int64
 2   Temperature(°C)            8040 non-null   float64
 3   Humidity(%)                8040 non-null   int64
 4   Wind speed (m/s)           8040 non-null   float64
 5   Visibility (10m)           8040 non-null   int64
 6   Dew point temperature(°C)  8040 non-null   float64
 7   Solar Radiation (MJ/m2)    8040 non-null   float64
 8   Rainfall(mm)               8040 non-null   float64
 9   Snowfall (cm)              8040 non-null   float64
 10  month                      8040 non-null   int64
 11  functioning_day_numeric    8040 non-null   int64
 12  Holiday_numeric            8040 non-null   int64
 13  Wind Speed Bin             8040 non-null   object
 14  Seasons_Spring             8040 non-null   float64
 15  Seasons_Summer             8040 non-null   float64
 16  Seasons_Winter             8040 non-null   float64
dtypes: float64(9), int64(7), object(1)
memory usage: 1.0+ MB

## train, valid 데이터 셋 분리

In [35]:
#X(독립변수), y(종속변수) 분리
X = data_final.drop("Rented Bike Count", axis=1)
y = data_final["Rented Bike Count"]

- 각 클래스에 최소 2개이상의 데이터 포인트가 존재해야한다는 오류 발생해서 해결하는 코드

In [45]:
# 'Wind Speed Bin' 칼럼의 클래스별 데이터 개수 확인
class_counts = data_final['Wind Speed Bin'].value_counts()
print("Class distribution before adjustment:")
print(class_counts)

Class distribution before adjustment:
Wind Speed Bin
(0.6, 0.9]       1002
(1.3, 1.6]        994
(-0.001, 0.6]     963
(1.8, 2.2]        856
(3.2, 7.4]        802
(2.6, 3.2]        758
(2.2, 2.6]        730
(0.9, 1.1]        712
(1.1, 1.3]        635
(1.6, 1.8]        588
Name: count, dtype: int64

In [46]:
# 각 클래스에 최소 2개 이상의 데이터 포인트가 존재하도록
classes_to_keep = class_counts[class_counts >= 2].index
df_filtered = data_final[data_final['Wind Speed Bin'].isin(classes_to_keep)]

In [47]:
# 조정 이후 분포 확인
class_counts_after = df_filtered['Wind Speed Bin'].value_counts()
print("Class distribution after adjustment:")
print(class_counts_after)

Class distribution after adjustment:
Wind Speed Bin
(0.6, 0.9]       1002
(1.3, 1.6]        994
(-0.001, 0.6]     963
(1.8, 2.2]        856
(3.2, 7.4]        802
(2.6, 3.2]        758
(2.2, 2.6]        730
(0.9, 1.1]        712
(1.1, 1.3]        635
(1.6, 1.8]        588
Name: count, dtype: int64

In [50]:
# 필터링된 데이터프레임에서 X, y 분리
X = df_filtered.drop(columns=['Wind Speed Bin'])  # Assuming 'Wind Speed Bin' is the target column
y = df_filtered['Wind Speed Bin']

In [51]:
#train과 valid 셋 분리
#분류 문제에서 'stratify=타겟변수' 옵션은 중요함

X_train, X_val, y_train, y_val = train_test_split(X, y, train_size=0.8, test_size=0.2, stratify=y, random_state=100)
print(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

(6432, 16) (1608, 16) (6432,) (1608,)

## 변수 스케일링

- Random forest는 변수 스케일링에 크게 영향을 받거나 좌우되지 않는다.
- 대부분의 경우, 모델 성능에 맞추어 스케일러를 선택한다.
- 따라서 모든 스케일러를 돌려보았다!

### Standard Scaler

In [52]:
#객체 생성
ss = StandardScaler()

#학습 및 변환
X_train_ss = ss.fit_transform(X_train)
X_val_ss = ss.transform(X_val)
#X_test_ss = ss.transform(X_test) #test셋이 있는 경우

print("<train 셋>")
print(f'평균: {X_train_ss.mean()}\n분산: {X_train_ss.std()}')
print("<valid 셋>")
print(f'평균: {X_val_ss.mean()}\n분산: {X_val_ss.std()}')

<train 셋>
평균: 1.9884591485823698e-17
분산: 0.9999999999999999
<valid 셋>
평균: -0.009688451739283396
분산: 1.0313832858318157

### MinMax Scaler

In [53]:
#객체 생성
mms = MinMaxScaler()

#학습 및 변환
X_train_mms = mms.fit_transform(X_train)
X_val_mms = mms.transform(X_val)
#X_test_mms = mms.transform(X_test) #test셋이 있는 경우

print("<train 셋>")
print(f'최대: {X_train_mms.max()}\n최소: {X_train_mms.min()}')
print("<valid 셋>")
print(f'최대: {X_val_mms.max()}\n최소: {X_val_mms.min()}')

<train 셋>
최대: 1.0
최소: 0.0
<valid 셋>
최대: 1.1864406779661016
최소: -0.0017452006980802626

### MaxAbs Scaler

In [54]:
#객체 생성
mas = MaxAbsScaler()

#학습 및 변환
X_train_mas = mas.fit_transform(X_train)
X_val_mas = mas.transform(X_val)
#X_test_mas = mas.transform(X_test) #test셋이 있는 경우

print("<train 셋>")
print(f'최대: {X_train_mas.max()}\n최소: {X_train_mas.min()}')
print("<valid 셋>")
print(f'최대: {X_val_mas.max()}\n최소: {X_val_mas.min()}')

<train 셋>
최대: 1.0
최소: -1.0
<valid 셋>
최대: 1.1864406779661016
최소: -1.0032786885245901

### Robust Scaler

In [55]:
#객체 생성
rs = RobustScaler()

#학습 및 변환
X_train_rs = rs.fit_transform(X_train)
X_val_rs = rs.transform(X_val)
#X_test_rs = rs.transform(X_test) #test셋이 있는 경우

print("<train 셋>")
print(f'평균: {X_train_rs.mean()}\n분산: {X_train_rs.std()}')
print("<valid 셋>")
print(f'평균: {X_val_rs.mean()}\n분산: {X_val_rs.std()}')

<train 셋>
평균: 0.10218105614307083
분산: 0.6449429712101502
<valid 셋>
평균: 0.09772702321714065
분산: 0.7048939473262906